<footer class="page-footer font-small indigo">
  

  
    <div class="container-fluid">
  
    
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
  
       
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">A propos</a>
          </h6>
        </div>
  
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Mentions légales</a>
          </h6>
        </div>
    
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Support</a>
          </h6>
        </div>
    
  
     
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/contact">Contact</a>
          </h6>
        </div>
     
  
      </div>
     
      <hr class="rgba-white-light" style="margin: 0 15%;">
  
     
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
  
       
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem">L'ensemble des visuels est propriété de Riot Games.</p>
        </div>
      
  
      </div>
      
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  
   
      <div class="row pb-3">
  
      
        <div class="col-md-12">
  
          <div class="mb-5 flex-center">
  
           
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg black-text mr-4"> </i>
            </a>
            
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg black-text mr-4"> </i>
            </a>
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg black-text mr-4"> </i>
            </a>
  
          </div>
  
        </div>
  
      </div>
  
  
    </div>
  
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://www.charlybrocard.com" target="_blank"> Charly Brocard</a>
    </div>
  </footer>