<div class="container">
  <header>
    <i class="fa fa-bars" aria-hidden="true"></i>
  </header>
  
    <div class="row">
      <div class="left col-lg-4">
        <div class="photo-left">
          <img class="photo" src="https://cdnb.artstation.com/p/assets/images/images/012/033/999/large/thomas-randby-npe-ahri.jpg?1532668669"/>
          
        </div>
        <h4 class="name">userID</h4>
        <p class="info">Main champion <img src="http://ddragon.leagueoflegends.com/cdn/10.12.1/img/champion/Aatrox.png" alt=""></p>
        <p class="info">Gold 2 <img src="../../assets/img/Emblem_Gold.png" alt=""/></p>

        
      </div>
      <div class="right col-lg-8">
        <ul class="nav">
          <li>Historique</li>
          <li>Mon compte</li>
        </ul>
        
        <div class="row gallery">
          <div class="col-md-12">
             <img src="https://cdn.mobalytics.gg/stable/search-page/matches.png"/>
          </div>
          
        </div>
      </div>
      </div>
  
</div>