<div class="container-fluid">
  <div class="row justify-content-center"><div class="banner-title"><h1>Inscription</h1></div></div>
<div class="container">

    <form>
        <h2>Étape 1</h2>
        <h3>Choisis ton personnage principal</h3>
        <hr>
        


        <div class="row justify-content-center" data-toggle="buttons">
          
          <label>
            <input type="radio" name="character" value="breach" checked>
            <img src="../../assets/img/breach-radio-ready.png">
          </label>
          
          <label>
            <input type="radio" name="character" value="cypher">
            <img src="../../assets/img/cypher-radio-ready.png">
          </label>

          <label>
            <input type="radio" name="character" value="jett">
            <img src="../../assets/img/jettradio-ready.png">
          </label>

          <label>
            <input type="radio" name="character" value="phoenix">
            <img src="../../assets/img/phoenix-radio-ready.png">
          </label>

          <label>
            <input type="radio" name="character" value="raze">
            <img src="../../assets/img/raze-radio-ready.png">
          </label>
          <label>
            <input type="radio" name="character" value="sage">
            <img src="../../assets/img/sage-radio-ready.png">
          </label>

          <label>
            <input type="radio" name="character" value="sova">
            <img src="../../assets/img/sova-radio-ready.png">
          </label>

          <label>
            <input type="radio" name="character" value="brimestone">
            <img src="../../assets/img/brimestone-radio-ready.png">
          </label>

          <label>
            <input type="radio" name="character" value="omen">
            <img src="../../assets/img/omen-radio-ready.png">
          </label>

          <label>
            <input type="radio" name="character" value="viper">
            <img src="../../assets/img/viper-radio-ready.png">
          </label>

        </div>
        <hr>
        <div class="form-group">
          <label for="exampleFormControlInput1">Riot ID</label>
          <input type="id" class="form-control" id="exampleFormControlInput1" placeholder="Rentres ton ID Riot !">
        </div>
    
        <div class="form-group">
          <label for="exampleFormControlInput1">Email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
    
        <div class="form-group">
          <label for="exampleFormControlInput1">Mot de passe</label>
          <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Choisis le bien !">
        </div>
    
        <div class="form-group">
          <label for="exampleFormControlInput1">Pseudo</label>
          <input type="pseudo" class="form-control" id="exampleFormControlInput1" placeholder="Ton pseudo !">
        </div>
    
        <button type="submit" class="btn btn-primary">Envoyer</button>
        
        
        
      </form>


  

    </div>

    <app-footer></app-footer>
  </div>