<div class="container-fluid">
  <div class="row justify-content-center"><div class="banner-title"><h1>Inscription</h1></div></div>
<div class="container">

    <form [formGroup]="signupForm"  (ngSubmit)="onSubmitSignupForm()">
        <!-- <h2>Étape 1</h2>
        <h3>Choisis ton personnage principal</h3>
        <hr>
        


        <div class="row justify-content-center" data-toggle="buttons">
          
          <label>
            <input type="radio" name="character" value="breach" checked>
            <img src="../../assets/img/breach-radio-ready.png" alt="breach">
          </label>
          
          <label>
            <input type="radio" name="character" value="cypher">
            <img src="../../assets/img/cypher-radio-ready.png" alt="cypher">
          </label>

          <label>
            <input type="radio" name="character" value="jett">
            <img src="../../assets/img/jettradio-ready.png" alt="jett">
          </label>

          <label>
            <input type="radio" name="character" value="phoenix">
            <img src="../../assets/img/phoenix-radio-ready.png" alt="phoenix">
          </label>

          <label>
            <input type="radio" name="character" value="raze">
            <img src="../../assets/img/raze-radio-ready.png" alt="raze">
          </label>
          <label>
            <input type="radio" name="character" value="sage">
            <img src="../../assets/img/sage-radio-ready.png" alt="sage">
          </label>

          <label>
            <input type="radio" name="character" value="sova">
            <img src="../../assets/img/sova-radio-ready.png" alt="sova">
          </label>

          <label>
            <input type="radio" name="character" value="brimestone">
            <img src="../../assets/img/brimestone-radio-ready.png" alt="brimestone">
          </label>

          <label>
            <input type="radio" name="character" value="omen">
            <img src="../../assets/img/omen-radio-ready.png" alt="omen">
          </label>

          <label>
            <input type="radio" name="character" value="viper">
            <img src="../../assets/img/viper-radio-ready.png" alt="viper">
          </label>

          <label>
            <input type="radio" name="character" value="reyna">
            <img src="../../assets/img/reyna-radio-ready.png" alt="reyna">
          </label>

        </div>
        <br><h2>Étape 2</h2>
        <h3>Saisis tes coordonnées</h3> -->
        <hr>
        
    
        <div class="form-group">
          <label >Email</label>
          <input type="email" class="form-control"  placeholder="name@example.com" formControlName="email">
        </div>
    
        <div class="form-group">
          <label >Mot de passe</label>
          <input type="password" class="form-control"  placeholder="Minimum 6 caractères" formControlName="password">
        </div>
    
        <div class="form-group">
          <label >Pseudo</label>
          <input type="pseudo" class="form-control"  placeholder="Ton pseudo !">
        </div>
        
        <div class="row"  *ngIf="showMsg">
          <div class="col-xs-12">
            <p class="alert alert-success">
                <strong>Inscription réussite ! Redirection dans 3 secondes.</strong>

            </p>
          </div>
        </div>
        

        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid"><i class="fas fa-paper-plane"></i> Inscription</button>
        
        
        
      </form>


  

    </div>

    <app-footer></app-footer>
  </div>