
.banner-title{
   
    text-align: center;
    height: 450px;
    background-image: url("../../assets/img/banner6.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70px;
    color: white;
    text-shadow: 0 0 2px black;
    font-family: 'valorant', 'arial', sans-serif;
}


/* Bracket*/

/*
 *  Flex Layout Specifics
*/
main{
    display:flex;
    flex-direction:row;
  }
  .round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
  }
    .round .spacer{ flex-grow:1; }
    .round .spacer:first-child,
    .round .spacer:last-child{ flex-grow:.5; }
  
    .round .game-spacer{
      flex-grow:1;
    }
  
  /*
   *  General Styles
  */
  body{
    font-family:sans-serif;
    font-size:small;
    padding:10px;
    line-height:1.4em;
  }
  
  li.game{
    padding-left:20px;
  }
  
    li.game.winner{
      font-weight:bold;
    }
    li.game span{
      float:right;
      margin-right:5px;
    }
  
    li.game-top{ border-bottom:1px solid #aaa; }
  
    li.game-spacer{ 
      border-right:1px solid #aaa;
      min-height:40px;
    }
  
    li.game-bottom{ 
      border-top:1px solid #aaa;
    }
  