.carousel-caption h5{
    font-size: 4em;
    margin-top: calc(86px - 50%);
    text-shadow: 0 0 2px black;
}

.yup:hover{
    transition: 250ms;
    opacity: 0.8;
}

.yup{
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.yup-one span{
    color: #FF4655;
}

.yup a{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 2px black;
}

.yup span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
}

body{
    overflow: hidden;
}
