<div class="container-fluid">

  <div class="row">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/img/banner1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Participez à des tournois hebdomadaires !</h5>
      </div>
    </div>
  </div>
  
</div>
</div>

  <div class="row">
    <div class="col yup yup-one">
      <a routerLink="/signup"><img src="../assets/img/banner5.jpg" class="d-block w-100" alt="...">
      <span>Inscris-toi</span>
      </a>

    </div>
    <div class="col yup">
      <a routerLink="/login-component"><img src="../assets/img/banner3.jpg" class="d-block w-100" alt="...">
      <span>Connecte-toi</span>
      </a>

    </div>

    

  </div>

  <div class="row">

    <div class="col yup">
      <a routerLink="/tournois"><img src="../assets/img/banner6.jpg" class="d-block w-100" alt="...">
      <span>Joue le tournois !</span>
      
      </a>

    </div>

    <div class="col yup">
      <a href="#"><img src="../assets/img/banner4.png" class="d-block w-100" alt="...">
      <span>Gagne !</span>
      </a>

    </div>

  </div>

  
  <app-footer></app-footer>


</div>