

.menu li:hover{
    background-color: #efefef;
    transition: 250ms;
}

.menu li{
    padding: 15px;
}

.navbar-light .navbar-nav .nav-link {
    color:black;
    font-weight: 500;
}

i.far{
    color: black;
}