
  <div class="container-fluid bg-login">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-3 mx-auto">
                <form class="style-form" [formGroup]="signinForm"  (ngSubmit)="onSubmitSigninForm()">
                  <div class="form-group">
                    <label >E-mail</label>
                    <input type="email" class="form-control"  placeholder="👤 name@example.com" formControlName="email">
                  </div>
                  <div class="form-group">
                    <label >Mot de passe</label>
                    <input type="password" class="form-control" placeholder="🔒 Mot de passe" formControlName="password">
                  </div>
                  <!--<div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" >
                    <label class="form-check-label" >No Captcha reCaptcha</label>
                  </div>-->
                  <div class="form-group">
                  <button type="submit" class="btn btn-primary connexion-btn">Connexion</button>
                </div>

                <div class="form-group">Pas de compte ? <a routerLink="/signup">S'inscrire</a></div>
                </form>
                
            </div>
        </div>
  </div>